.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 300%;
}

.wrapper>div:nth-child(1) a:link,
.wrapper>div:nth-child(1) a:visited{
  text-decoration: none;
  color: black;
  transition: color .3s linear;
}

.wrapper>div:nth-child(1) a:hover{
  color:darksalmon;
}

.wrapper>div:nth-child(2){
  margin-top: 1em;
  width: 90%;
}

.header{
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-around;
}
/* Book list */
.book-header-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%
}

.book-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%
}

.book-header h4:nth-child(1){
  margin-right: 30%;
}

.add-book-btn {
  margin-left: 1em;
  width: 5em;
  font-size: 37px;
  background-color: rgb(12, 227, 4);
  color: #fff;
  border: none;
  padding: 5px 0px;
  transition: filter .3s linear;
}

.book-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-item{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  width: 100%;
}

.book-description{
  display: flex;
  flex-direction: row;
  margin: .3em;
}

.book-description h5:nth-child(1){
  width: 43%;
}
.book-description h5:nth-child(2){
  width: 8em;
}
.book-description h5:nth-child(3){
  width: 5em;
}


/* END */

.book-btns{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}

.book-btns > button{
  margin: 0 .5em;
}

.toggle-read-btn {
  font-size: 37px;
  height: 2em;
  width: fit-content;
  background-color: #CC5520;
  color: #fff;
  border: none;
  padding: 5px 7px;
  transition: filter .3s linear;
}

.delete-btn {
  font-size: 37px;
  background-color: red;
  color: #fff;
  border: none;
  width: fit-content;
  padding: 5px 7px;
  transition: filter .3s linear;
}

button:hover {
  filter: opacity(.75)
}