.wrapper {
  display: flex;
  background-color: transparent;
}

.close-btn {
  margin-right: 30%;
  align-self: flex-end;
  font-size: 37px;
  background-color: transparent;
  border: none;
  transition: filter .3s linear;
}

.form-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.submit-btn {
  font-size: 37px;
  background-color: rgb(0, 134, 230);
  border: none;
  transition: filter .3s linear;
}

.reset-btn {
  margin-left: 1em;
  font-size: 37px;
  background-color: rgb(217, 0, 0);
  ;
  border: none;
  transition: filter .3s linear;
}

.form-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

button:hover {
  filter: opacity(.75)
}