.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: rgb(13,148,168);
    background: linear-gradient(90deg, rgba(13,148,168,0.6041010154061625) 1%, rgba(201,172,11,0.4976584383753502) 38%);
}

.navButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
}